body
{
    border:0;
    margin:0;
    width:100%;
    height:1200px;
    background-image: url("img/back.jpg");
    overscroll-behavior-x: auto;
    background-attachment: fixed;
    overflow-x: hidden;
}
.navbar, .right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
}
.right{
    width: fit-content;
    gap: 15px;
    padding-right: 20px;
}
.home {
    width: 80px;
    height: 25px;
    background: none;
    color: white;
    border-radius: 6px;
    transition: background-color 0.3s ease-out;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.navbar{
    border-bottom: 1px solid white;
    height: 75px;
    align-items: center;

}
.home:hover{
    border:none;
    background:white;
    color:black;
}
.left {
    padding-left: 15px;
    height: 50px;
    width: fit-content;
    background-size: cover;
    align-items: center;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    padding-top: 8px;
    cursor: wait;
}
.home:active{
    color: white;
}
.footer{
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: white solid 1px;
    position: fixed;


}
.body{
    width: 100%;
    height: 100%;
}
.typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
            typing 3.5s steps(30,end);
    align-items: center;
    font-size: 60px;
}

.typewriter{
    display: flex;
    justify-content: center;
    padding:40px;
}
@keyframes typing {
    from { width: 0 }
    to { width: 70% }
}

